<!DOCTYPE HTML>
<html lang ="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/img/icon.png" type="image/x-icon">
<title>Error Page</title>
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
</head>
<body>
	<!--Navigation-->
	<nav class="navbarnavbar-expand-lgnavbar-darkbg-darkstatic-top">
	<div class="container">
		<a class="navbar-brand" href="/">Menedżer Domów Seniora</a>
		<button class ="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarResponsive" aria-controls="navbarResponsive"
			aria-expanded="false" aria-label="Togglenavigation">
		<span class="navbar-toggler-icon">
		</span>
		</button>
	</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-4 mt-5">
				<form method="post" th:action="@{/main}">
					<div class="form-group">
						<div>
							<b><p style="font-size: 30px">Error</p></b>
						</div>
						<div>
							<p style="font-size: 24px">403 - Forbidden page</p>
						</div>
					</div>
					<button class ="btnbtn-primary" type="submit" value="SignIn">
					Back to homepage
					</button>
				</form>
			</div>
		</div>
	</div>