<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/img/icon.png" type="image/x-icon">
<title>Menedzer Domow Seniora</title>
</head>
<body>

	<div align="center">
		<!--  Page header  -->
		<h1>Domy Seniora</h1>
		
		<!-- Entry to new page -->
		<a href="/new">Wprowadz nowy dom seniora</a>

		<!--Break line-->
		<br/><br/>

		<!--Table-->
		<table border = "1" cellpadding = "10">
			<!--Table header-->
			<thead>
				<tr>
					<th>Id_Domu_Seniora</th>
					<th>Nazwa</th>
					<th>Data_Zalozenia</th>
					<th>Liczba_Pokoi</th>
					<th>Max_Liczba_Mieszkancow</th>
					<th>Opis_Placowki</th>
					<th>Czynny_Calodobowo</th>
					<th>Srednia_Cena_Mieszkania</th>
				</tr>
			</thead>
			<!--Table body-->
			<tbody>
				<tr th:each = "dom_Seniora : ${listDomSeniora}">
					<td th:text="${dom_Seniora.id}">Id_Domu_Seniora</td>
					<td th:text="${dom_Seniora.nazwa}">Nazwa</td>
					<td th:text="${dom_Seniora.data_Zalozenia}">Data_Zalozenia</td>
					<td th:text="${dom_Seniora.liczba_Pokoi}">Liczba_Pokoi</td>
					<td th:text="${dom_Seniora.max_Liczba_Mieszkancow}">Max_Liczba_Mieszkancow</td>
					<td th:text="${dom_Seniora.opis_Placowki}">Opis_Placowki</td>
					<td th:text="${dom_Seniora.czynny_Calodobowo}">Czynny_Calodobowo</td>
					<td th:text="${dom_Seniora.srednia_Cena_Mieszkania}">Srednia_Cena_Mieszkania</td>
					<td>
						<a th:href="@{'/edit/'+${dom_Seniora.id}}">Edit</a>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<a th:href="@{'/delete/' + ${dom_Seniora.id}}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>