<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/icon.png" type="image/x-icon">
    <title>Redaguj Adres</title>
</head>
<body>
<div align = "center">
    <!--Page header-->
    <h1>Redaguj Adres</h1>
    <!--End line/ new line-->
    <br/>
    <form action ="#" th:action="@{/update}" th:object="${dom_Seniora}" method ="post">
        <!--Table-->
        <table border ="1" cellpadding ="10">
            <!--Table row-->
            <tr>
                <td>Id_Adresu:</td>
                <td><input type="text" th:field="*{Id_Adresu}" readonly="readonly"></td>
            </tr>
            <tr>
                <td>Miasto:</td>
                <td><input type ="text" th:field="*{Miasto}"></td>
            </tr>
            <tr>
                <td>Data_Zalozenia:</td>
                <td><input type ="text" th:field="*{Ulica}"></td>
            </tr>
            <tr>
                <td>Liczba_Pokoi:</td>
                <td><input type ="text" th:field="*{Nr_Lokalu}"></td>
            </tr>
            <tr>
                <td>Max_Liczba_Mieszkancow:</td>
                <td><input type ="text" th:field="*{Nr_Budynku}"></td>
            </tr>
            <!-- Button save-->
            <tr>
                <td colspan = "2"><button type ="submit">Zapisz</button></td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>