<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/icon.png" type="image/x-icon">
    <title>Redaguj Dom_Seniora</title>
</head>
<body>
<div align = "center">
    <!--Page header-->
    <h1>Redaguj Dom_Seniora</h1>
    <!--End line/ new line-->
    <br/>
    <form action ="#" th:action="@{/update}" th:object="${dom_Seniora}" method ="post">
        <!--Table-->
        <table border ="1" cellpadding ="10">
            <!--Table row-->
            <tr>
                <td>Id_Domu_Seniora:</td>
                <td><input type="text" th:field="*{id_Domu_Seniora}" readonly="readonly"></td>
            </tr>
            <tr>
                <td>Nazwa:</td>
                <td><input type ="text" th:field="*{nazwa}"></td>
            </tr>
            <tr>
                <td>Data_Zalozenia:</td>
                <td><input type ="text" th:field="*{data_Zalozenia}"></td>
            </tr>
            <tr>
                <td>Liczba_Pokoi:</td>
                <td><input type ="text" th:field="*{liczba_Pokoi}"></td>
            </tr>
            <tr>
                <td>Max_Liczba_Mieszkancow:</td>
                <td><input type ="text" th:field="*{max_Liczba_Mieszkancow}"></td>
            </tr>
            <tr>
                <td>Opis_Placowki:</td>
                <td><input type ="text" th:field="*{opis_Placowki}"></td>
            </tr>
            <tr>
                <td>Czynny_Calodobowo:</td>
                <td><input type ="text" th:field="*{czynny_Calodobowo}"></td>
            </tr>
            <tr>
                <td>Srednia_Cena_Mieszkania:</td>
                <td><input type ="text" th:field="*{srednia_Cena_Mieszkania}"></td>
            </tr>
            <!-- Button save-->
            <tr>
                <td colspan = "2"><button type ="submit">Zapisz</button></td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>