<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="/img/icon.png" type="image/x-icon">
<title>Nowy Adres Domu Seniora</title>
</head>
<body>

	<div align="center">
		<!--  Page header  -->
		<h1>Wprowadz nowy adres domu seniora</h1>

		<br />
		<form action="#" th:action="@{/save}" th:object="${sale}"
			method="post">
			<!--Table-->
			<table border="1" cellpadding="10">

			</table>
		</form>
		<!-- Entry to new page -->
		<a href="/new_adres">Wprowadz nowy adres domu seniora</a>

		<!--Table-->
		<table border="1" cellpadding="10">
			<!-- Table header -->
			<thead>
				<!--Table row-->
				<tr>
					<td>Id_Adresu</td>
					<td><input type="text" th:field="*{Id_Adresu}"></td>
				</tr>
				<!--Table row-->
				<tr>
					<td>Miasto</td>
					<td><input type="text" th:field="*{miasto}"></td>
				</tr>
				<!--Second row-->
				<tr>
					<td>Ulica</td>
					<td><input type="text" th:field="*{ulica}"></td>
				</tr>
				<!--Table row-->
				<tr>
					<td>Nr_Lokalu</td>
					<td><input type="text" th:field="*{nr_Lokalu}"></td>
				</tr>
				<!--Table row-->
				<tr>
					<td>Nr_Budynku</td>
					<td><input type="text" th:field="*{nr_Budynku}"></td>
				</tr>

				<!-- Button save -->
				<tr>
					<td colspan="2"><button type="submit">Zapisz</button></td>
				</tr>
			</thead>
		</table>
	</div>

</body>
</html>